/* my solution */

.wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

div > div {
  flex-basis: calc((100% - 2rem) / 3);
}

.c {
  flex-basis: 100%;
}

.a,
.h {
  flex-basis: calc(2 * (100% - 2rem) / 3 + 1rem);
}
