.main-menu {
  position: fixed;
  display: none;
  top: 0;
  left: -200px;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  transition: left 0.3s ease-in;
  width: 200px;
  /* when we want to cover all the screen 
     with the .backdrop */
  z-index: 1001;
}

.main-menu:target {
  display: block;
  left: 0;
}

.main-menu:target + .backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  cursor: default;

  /* when we want to cover all the screen */
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* .main-menu:target .menu-close {
  z-index: 1001;
}

.main-menu:target ul {
  z-index: 1000;
} */

/* ========================================== */
/* strictly presentational */

.main-menu {
  background-color: #1a1a1a;
}

.main-menu .menu-close {
  top: 0;
  right: 0;
  border-bottom: none;

  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu a {
  display: block;
  padding: 0.75em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.menu-toggle {
  color: #555;
  margin-right: 1rem;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c85028;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu a.menu-close:hover,
.main-menu a.menu-close:focus {
  text-decoration: none;
}
