.login-container {
  --duration: 700ms;
}

.login-form {
  z-index: 3;
}

.login-keyboard {
  z-index: 2;
}

.login-container[data-state='inactive'] {
  & .login-form {
    animation: login-form-move-down var(--duration);
  }

  & .login-keyboard {
    animation-name: keyboard-move-up;
    animation-duration: var(--duration);
  }
}

.login-container[data-state='active'] {
  & .login-form {
    animation: login-form-move-up var(--duration);
  }

  & .login-keyboard {
    animation-name: keyboard-move-down, appear;
    animation-duration: var(--duration), calc(2 * var(--duration));
  }
}

.login-container[data-state='active'] {
  & .login-form {
    transform: none;
  }

  & .login-keyboard {
    transform: none;
  }
}

.login-container {
  & .login-form {
    transform: translateY(50%);
  }

  & .login-keyboard {
    transform: translateY(-50%);
  }
}