html {
  box-sizing: border-box;
  background-color: #333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* typography ====================================== */
:root {
  font-family: 'Open Sans', sans-serif;
}

/* heights ====================================== */
@property --main-grd-var {
  syntax: "<string>";
  inherits: true;
  initial-value: "one";
}

:root {
  --app-height: 100vh;
  --status-bar-height: 64px;
}

.app-container {
  height: var(--app-height);
}

/* grid and layout ====================================== */

.app-container {
  --main-grd-var: "one";
  display: grid;
  grid-template-columns:
    if(
      style(--main-grd-var: "one"):
        5fr 7fr;
      style(--main-grd-var: "two"):
        7fr 5fr;
      else: 
        1fr 1fr
    );
  /* grid-template-columns: 5fr 7fr; */
  /* grid-template-columns: var(--xxx) var(--yyy); */
}

.panel__left {
  grid-column: 1/2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.panel__right {
  grid-column: 2/3;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* display ====================================== */

/*  colors ====================================== */
:root {
  --app-bg-color: #e4e9f0;
  --default-background: #ffffff;
  --status-bar-bg-color: #0053b8;
  --status-bar-text-color: #ffffff;
}

.panel__left {
  background-color: var(--status-bar-bg-color);
}

.r1 {
  background-color: #5394e4;
}


.panel__right {
  background-color: var(--default-background)
}

/* component styling ====================================== */

/* component states */