html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  line-height: 1.15; /* 1 */
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

p {
  margin: 0;
}

/* h1 {
  font-size: 2em;
  margin: 0.67em 0;
} */
