.wrapper {
  display: block;
}

header {
  grid-area: header;
}

header img {
  width: 100%;
  max-width: 260px;
}

nav {
  grid-area: nav;
  padding-top: 12px;
}

article {
  grid-area: article;
}

.aside-one {
  grid-area: asideOne;
}

.aside-two {
  grid-area: asideTwo;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #c80060;
}

.aside-two img {
  width: 100%;
  max-width: 200px;
  border-radius: 0 0 10px 10px;
}

footer {
  grid-area: footer;
}

.nav {
  background-color: #e6bf98;
  display: block;
}

@media only screen and (min-width: 500px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "nav nav" "article article" "asideOne asideTwo" "footer footer";
  }
  .aside-one {
    border-bottom-left-radius: 10px;
  }
  .aside-two {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    grid-template-columns: repeat(6, 1fr);
  }
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "nav nav nav" "article article asideOne" "article article asideTwo" "footer footer footer";
  }
  article {
    border-bottom-left-radius: 10px;
  }
  .aside-one {
    border-bottom-left-radius: 0;
  }
}