.content {
  background-color: #fff6e0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-img {
  flex: 0 0 100%;
  margin: 0;
  min-height: 1px;
}

@media only screen and (min-width: 500px) {
  .flex-img {
    flex: 0 0 50%;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .flex-img {
    flex: 0 0 33.333%;
    margin-right: 0;
  }
}