@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  background-image: url(../img/clouds.png);
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Niconne', cursive;
  font-weight: normal;
  color: #C80060;
}

.wrapper {
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 250px;
}

nav {
  background: url(../img/scallop.png) repeat-x;
}

nav a {
  color: #c80060;
  text-decoration: none;
  display: block;
  padding-left: 3.333333%;
}

nav a:hover {
  color: #00c4c7;
}

footer {
  background-color: #00CDD1;
  color: white;
  margin: 0 0.5em 3em 0.5em;
}

footer p {
  text-align: center;
}

footer img {
  width: 52px;
}

footer a {
  color: white;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.full-width {
  flex: 0 0 100%;
  margin: 0;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 550px) {
  .wrapper {
    width: 97%;
    max-width: 767px;
  }
  nav a {
    padding: 0em 1em 0em 1em;
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 850px) {
  .wrapper {
    width: 97%;
    max-width: 1200px;
  }
  h2 {
    font-size: 3em;
    border-bottom: 2px dotted #c80060;
  }
  h3 {
    font-size: 2em;
  }
  nav a {
    padding: 0em 1em;
  }
}