/* add border box sizing to the page right from the start */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--teal);
  color: var(--white);
}

a {
  color: var(--lime);
  text-decoration: none;
}

a:hover {
  color: var(--cyan);
}
