@layer base {
  /* add border box sizing to the page right from the start */
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    background-color: var(--teal);
    color: var(--white);
    text-align: center;
  }

  a {
    color: var(--lime);
    text-decoration: none;
  }

  a:hover {
    color: var(--cyan);
  }

  .club {
    font-size: var(--h5);
  }

  img {
    width: 100%;
    max-width: 100%;
  }

  .imggroup figure {
    margin: 0;
  }

  blockquote {
    margin: 0;
  }

  cite {
    font-style: normal;
    margin: 0;
    padding: 0;
    display: block;
  }

  main {
    margin-bottom: 3rem;
  }

  footer {
    text-transform: uppercase;
    margin-top: 5rem;
  }
}

@layer header {
  .wrapper {
    margin: 0 auto;
    max-width: 425px;
    /* border: 1px solid white; */
  }

  header {
    padding: 3rem 0 2rem;
  }

  header img {
    max-width: 200px;
  }

  @media (min-width: 768px) {
    .wrapper {
      max-width: 800px;
    }
  }
}

@layer tour {

  main > * {
    /* border: 1px solid white; */
  }

  @media (min-width: 768px) {
    main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    main h1 {
      grid-column: 1 / 4;
      /* grid-column: 1 / span 3; */
    }

    main p {
      margin-bottom: 1rem;
    }
  }


  .date {
    color: var(--tan);
  }
  .club {
    color: var(--lime);
    font-size: var(--h5);
  }
}

@layer reviews {
  .imggroup {
  }

  .star {
    width: 18px;
  }

  @media (min-width: 768px) {
    aside {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }
}


@media (min-width: 1024px) {
  .wrapper {
    max-width: 1200px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem 0;
  }

  .wrapper header {
    /* grid-column: 1/2; */
  }

  .wrapper .banner {
    grid-column: 1/2;
  }

  .wrapper main {
    grid-column: 2/3;
    grid-row: 2/5;
    display: block;
  }

  .wrapper aside {
    /* grid-column: 1/2; */
  }

  .wrapper footer {
    /* grid-column: 1/2; */
  }
}