.bg-green {
  background-color: green;
}
.bg-wheat {
  background-color: wheat;
}
.bg-yellow {
  background-color: yellow;
}
.bg-red {
  background-color: red;
}
.bg-cyan {
  background-color: cyan;
}
